name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim

    steps:
      - name: Check docker version
        run: docker version

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: pytest --html=report.html --self-contained-html

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: report.html
